<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Inspire Us is a brainchild of Startup Weekend Education Orlando. An event focused on creating new innovative solutions to improve education.
</p>