<% if signed_in? %>
  <div class="row">
    <div class="col-md-12">
      <h3>New Opportunities</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Recent Visits</h3>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Inspire Us</h1>

    <h2>
      Brining Professionals into the Classroom
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>